body, html {
  height: 94%;
}

body {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  color: #606060;
  width: 100%;
}

h1, h2, blockquote p {
  color: #404040;
}

textarea {
  width: 100%;
}

pre code {
  overflow: scroll;
  width: 100%;
}

blockquote {
  border-left: 5px solid #EB8753;
  float: right;
  margin: 0 2%;
  max-width: 50%;
}

blockquote p {
  font-size: 135%;
  line-height: 1.2;
  margin: 1% 3%;
}

a,
.pointer:hover {
  color: #EB8753;
}

.playing .pointer:hover {
  color: #0033FF;
}

.playing {
  background-color: #EB8753;
  color: #FFFFFF;
}

p {
  line-height: 1.8;
}

body {
  margin: auto;
  width: 96%;
}

playlist {
  height: 100%;
  width: 18%;
  border: 1px solid #CCCCCC;
  margin: 0;
  padding: 0;
  position: relative;
  right: 1px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.search th, .search td {
  padding: 3px;
}

.search th {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  text-align: left;
}

.search tr {
  border: 1px solid #CCCCCC;
}

.search .odd {
  background-color: #EEEEF6;
}

.tabs {
  position: relative;
  top: 1px;
}

.tabs li {
  padding: 3px 8px;
  border: 1px solid #CCCCCC;
}

.tabs .active {
  border-bottom: 1px solid #FFFFFF;
}

.playlist li {
  border: 1px solid #CCCCCC;
  margin: -1px;
  padding: 3px 10px;
}

.playlist-controls {
  position: absolute;
  right: 0;
}

.song-handle {
  cursor: move;
  width: 100%;
}

.container {
  margin: 20px auto;
  height: 83%;
  width: 100%;
}

.main_window {
  border: 1px solid #CCCCCC;
  overflow: auto;
  padding: 10px;
  height: 100%;
  width: 98%;
}

.main_window h2 {
  margin-top: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.ilb {
  display: inline-block;
}

.lh1 {
  line-height: 1.8;
}

.lh2 {
  line-height: 1.2;
}

.pointer {
  cursor: pointer;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input {
  border: 1px solid #CCCCCC;
  font-size: 0.83em;
  padding: 5px;
}

.clearfix {
  clear: both;
}

progress-bar {
  display: block;
  overflow: auto;
  width: 100%;
}

.progress-container {
  margin: 5px;
}

.progress-bar {
  border: 1px solid #CCCCCC;
  height: 30px;
  position: relative;
  width: 70%;
}

.progress-played {
  background-color: #EB8753;
  height: 100%;
  width: 0%;
  z-index: 10;
}

.progress-buffered {
  background-color: #EEEEEE;
  height: 100%;
  width: 0%;
}

.abs {
  position: absolute;
}
